// Default variable overrides
$primary: #1d3557;
// color: #e63946, #f1faee, #a8dadc, #457b9d, #1d3557

$container-max-widths: (
	sm: 540px,
	md: 800px,
	lg: 920px,
	xl: 1140px,
	xxl: 1364px,
);

// Required
@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';
@import '../../node_modules/bootstrap/scss/root';

@import '../../node_modules/bootstrap/scss/bootstrap';
